/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #333333;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

header {
    background: #3e484e;
    font-size: 18px;
    color: #c1c7ce;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 55px;
}

header h1 {
    margin-top: 0;
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 15px;
}

header h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
}

header .buttons {
    margin-bottom: 30px;
}

header .buttons span {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 12px;
}

.btn {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.btn.green {
    border: 1px solid #15c36c;
    background-color: #06ae5a;
}

.btn.green:hover {
    background-color: #0bb962;
}

.btn.blue {
    border: 1px solid #1b8fd8;
    background-color: #006fb5;
}

.btn.blue:hover {
    background-color: #0478c1;
}

.input {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    padding: 12px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

#content {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

footer {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    color: #999;
}

footer a {
    color: #999;
}

.columns td.first {
    width: 420px;
    padding-right: 90px;
}

.columns td.second {
    width: 320px;
    font-size: 18px;
}

.columns td.second .small {
    font-size: 14px;
}

.columns {
    font-size: 14px;
    text-align: left;
}

.columns td {
    vertical-align: top;
}

.columns tr {
    margin-bottom: 30px;
    display: block;
}

.columns h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.columns h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.columns h5 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.columns .step.first .btn {
    margin-top: 40px;
}

.columns .step.second, .columns .step.third {
    display: none;
}

#description {
    margin-bottom: 80px;
}

form.invalid input[type="text"] {
    box-shadow: 0 0 7px #cc0000;
}

form .thanks {
    display: none;
}


#content.privacy {
    text-align: left;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}